
body {
  background-color: #00FFFF;
}

#chooseX  {
  height: 2em;
  width: 2em;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #FFCC00;
  border: none;
}

#chooseO  {
  height: 2em;
  width: 2em;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #FFCC00;
  border: none;
}

.square {
    float: left;
/*    width: 33%;*/
    min-height: 1.5em;
    background-color: #CCFF66;
    font-weight: bold;
    font-family: Helvetica, Arial;
    font-size: 2em;
    text-align: center;
    padding: 5px;
    border: 5px solid white;
    margin: 0, auto;
    width: 25%;
}

#gameboard {
  display: inline block;
  max-width: 90%;
}

#resetBtn {
  background-color: #6699FF;
  color: black;
  border: none;
  height: 2em;
}

#reset {
  padding-top: 1em;
  clear: both;
}