<section class="centered">
  <div class="title">
    <h1>A Movie Database</h1>

    <form action="/search" method="get">
      <input type="text" name="title" placeholder="Let me look it up for you" autocomplete="off" required>
      <!-- <button>Search</button> -->
    </form>
  </div>
</section>

<!-- <div class="fullscreen-bg">
    <video loop muted autoplay poster="/image/le6bmp4.jpg" class="fullscreen-bg__video">
        <source src="video/dancingcat.webm" type="video/webm">
        <source src="video/dancingcat.mp4" type="video/mp4">
        <source src="video/dancingcat.ogv" type="video/ogg">
        <source src="/video/le6bmp4.mp4" type="video/mp4">
        <source src="video/big_buck_bunny.webm" type="video/webm">
        <source src="video/big_buck_bunny.ogv" type="video/ogg">
    </video>
</div> -->