<form action="/form_processor">
  <label for="">What do you want?</label>
  <input type="text" name="question">
  <label for="">How are you?</label>
  <input type="text" name="greeting">
  <button>GO</button>
</form>