.body {
background-image: url("http://placehold.it/350x150");
}

.container{
  border-style: solid;
  border-color: silver;
  
  display: flex;
  justify-content:center;
  align-items:center;
  height: 90%;
  width: 90%;
  
}