<section class="centered text-center">
  <h1>ST&Ouml;CK</h1>

  <div class="symbol-search">
    <form action="/stocks">
      <input class="symbol-search_input text-uppercase" type="text" placeholder="Symbol Search" name="ticker">
    </form>
    <span class="symbol-search_button"></span>
  </div>
</section>