<!-- Login page -->
<!-- From /login in main.rb -->
<!-- The form is connected to post /session in main.rb -->
<form action="/session" method="post">
  <label for="">email</label>
  <input type="text" name="email">

  <label for="">password</label>
  <input type="password" name="password">

  <button>Login</button>
</form>