
body {

}

@font-face {
  font-family: moon;
  src: url('Moon Flower.ttf');
}


.grid { 
  margin:2em auto; 
  /*border-collapse:collapse;*/
  table-layout: fixed;


}
.grid td {
    cursor: pointer;
    min-width: 150px;
    width:150px;
    height: 150px;
    border:3.5px solid #ccc;
    text-align: center;
    font-family: sans-serif;
    

}

.grid td.clickedX::after{
    font-weight:bold; 
    content: "X";
    font-size: 6em;
    pointer-events: none;
    color: antiquewhite; 
    font-family: moon;
}

.grid td.clickedO::after {
    font-weight:bold; 
    content: "O";
    font-size: 6em;
    pointer-events: none;
    color: antiquewhite;
    font-family: moon; 
}
.markDone {
   pointer-events: none;
}

h1 {
  text-align: center;
  color: wheat;
  font-family: moon;
  font-size: 5em;
}
h2 {
  /*position: relative;*/
  font-family: moon;
  text-align: center;
  color: wheat;
  margin: 1%;
  font-size: 2.5em;
}

.inputSection {
  font-family: moon;
  color: wheat;
  font-size: 1.5em;
  text-align: center;
  /*position: relative;*/
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  
}


#gridSizeInput[type=number], textarea  {
   
  border: 1px solid #blue;
  font-family: moon;
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
  width: 5%;

}

#winSizeInput[type=number], textarea {
   

  font-family: moon;
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
  width: 5%;

}



